.rot{
    animation: ke 40s linear infinite;
  }
  @keyframes ke {
    0%{
      rotate: 0;
    }
    100%{
      rotate: 360deg;
    }
  }

  .suns2{
    width: 100%;
    height:100%;
    position: relative;
  }
  .suns2 .so2{
    width:100%;
    height:100%;
    position: relative;
  }
  .suns2 .su2{
    width: 30%;
    height: 100%;
    position: absolute;
    left:35%;
    top: 0%;
  }
  .suns{
    width: 100px;
    height:100px;
    position: relative;
  }
  .suns .so{
    width:100%;
    height:100%;
    position: relative;
  }
  .suns .su{
    width: 30%;
    height: 100%;
    position: absolute;
    left:35%;
    top: 4%;
  }


.hsbar
  ::-webkit-scrollbar{
    display: none;
  }
